


<div class="container alert alert-dark">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1 class="display-4">Copa de filmes</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <img src="assets/img/copa.jpeg" class="rounded-circle" alt="Responsive image">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="alert alert-info" role="alert">
            Selecione oito filmes...
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <button class="btn btn-primary btn-lg btn-block"  [disabled]="habilitaCampeonato" role="button" (click)="exibirResultado()">
                Gerar Copa de Filmes <span class="badge badge-light">{{ contador }}</span>
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Nota</th>
                <th scope="col">Selecione</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let filme of filmes">
                    <td>{{filme.titulo}}</td>
                    <td>{{filme.nota}}</td>
                    <td><input type="checkbox" [(ngModel)]="filme.Selecionado" 
                                (change) ="verificarQtdSelecionados(filme)"></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>
